<div class="mt-3">
    <form method="POST" action="">
        <div class="form-group">
            <label for="exampleInputEmail1">Key search</label>
            <input type="text" name="q " class="form-control" id="search-input"
                placeholder="Enter key search">
        </div>
        <br> 
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
